
<nav class="navbar navbar-expand-lg  darkBlue fixed-top">
    <a class="navbar-brand" href="#">
        <img src="1.jpg" width="50" height="30" alt="" style="
        margin-bottom: 14px">
        <span class='whiteText my-3'>Speech</span><span class="whiteText ">Recognition</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars lightblueIcon" aria-hidden="true"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav  ml-auto ">
            <li class="nav-item active">
                <a class="nav-link text-white navbarStyle " href="Index.php">Home <span class="sr-only">(current)</span></a>
             <li class="nav-item">
                <a class="btn btn-primary buttonRadius mr-3 buttonStyle" href="LoginFront.php" role="button">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary buttonRadius buttonStyle" href="SignupFront.php" role="button">Signup</a>
            </li>

        </ul>
    </div>
</nav>