<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Speech Recognition</title>
    <!--<link rel="stylesheet" href="footer.css ">-->
</head>

<body>

    <!--######################## NAVBAR #######################################-->
    <nav class="navbar navbar-expand-lg  darkBlue fixed-top">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='1.jpg')}}" width="50" height="30" alt="" style="
        margin-bottom: 14px">
        <span class='whiteText my-3'>Speech</span><span class="whiteText ">Recognition</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars lightblueIcon" aria-hidden="true"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav  ml-auto ">
            <li class="nav-item active">
                <a class="nav-link text-white navbarStyle " href="/">Home <span class="sr-only">(current)</span></a>
             <li class="nav-item">
                <a class="btn btn-primary buttonRadius mr-3 buttonStyle" href="LoginFront.html" role="button">{{info}}</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary buttonRadius buttonStyle" href="/logout" role="button">logout</a>
            </li>

        </ul>
    </div>
</nav>
        <!-- ######################### SignUp ############################ -->

        <h3 class="text-center" style="color:  #0d2de0 ;margin-top: 82px;">AUDIO FILES</h3>

        <div id="AudioFiles" class="container-fluid  d-flex justify-content-center mt-3">

            <form method="POST" action="/uploader" enctype="multipart/form-data">
                <label for="audio">Audio File:</label><br>
                <input class="input" type="text" id="audio" name="audioFile" placeholder="Enter your Audio Files" required><br>
                <input type = "file" name = "file1"/>
                <!--<input type ="submit" value ="Upload Audio" name="save_audio"/>-->
                <button type="submit">Submit</button>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!-- #########################Footer############################# -->


<div class="pt-5 pb-5 footer " style="margin-top: 120px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xs-12 about-company">
                    <span class="yellowText my-5 ">Speech</span><span class="yellowText ">Recognition</span>
                </div>
                <div class="col-lg-3 col-xs-12 links">
                    <h4 class="mt-lg-0 mt-sm-3"></h4>
                    <ul class="m-0 p-0" >
                        <li><a class= "yellowText" href="Faq.php">FAQ</a></li>
                        <li><a class= "yellowText" href="AboutUs.php">About us</a></li>
                        <li><a class= "yellowText" href="ContactUs.html">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4">Reach Us</h4>
                    <p> <a class="yellowText" href="tel:+91 8888888888">+91 88888 88888</a><br>
                        <a class="yellowText" href="mailto: EMAIL DALNA HAI" target="_top">speechemotionrecog@gmail.com</a> </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col copyright">
                    <p class=""><small class="yellowText">© 2020. All Rights Reserved.</small></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>